
nav{
    background-image: url(/img/pattern.png);
    background-size:20%;
    background-color: rgb(89, 155, 231);
    width: auto;
    height: 100px;
    position: relative;
}

#title {
    color: aliceblue;
    position: absolute;
    top: 15%;
    left: 10%;
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
}

#small_title{
    color: aliceblue;
    position: absolute;
    top: 20%;
    left: 11%;
    font-family: 'Courier New', Courier, monospace;
}